<div class="header">
    <div class="header__container">
        <div class="header__icon header__icon--menu" role="button">
            <svg class="header__svg-icon">
                <use xlink:href="/assets/svg/svg-icons.svg#svg-menu"></use>
            </svg>
            <span class="header__icon__label">Shop</span>
        </div>
        <div class="header__icon header__icon--search" role="button">
            <svg class="header__svg-icon">
                <use xlink:href="/assets/svg/svg-icons.svg#svg-search"></use>
            </svg>
            <span class="header__icon__label">Search</span>
        </div>
        <a class="header__logo" href="/">
            <img src="//dsw.scene7.com/is/image/DSWShoes/P190140_Logo-Static" />
        </a>
        <div class="header__nav">
            <ul>
                <li class="header__nav__category" role="button">Women</li>
                <li class="header__nav__category" role="button">Men</li>
                <li class="header__nav__category" role="button">Kids</li>
                <li class="header__nav__category" role="button">Accessories</li>
                <li class="header__nav__category" role="button">Clearance</li>
                <li class="header__nav__category" role="button">Brands</li>
            </ul>
        </div>
        <div class="header__icon header__icon--account" role="button">
            <svg class="header__svg-icon">
                <use xlink:href="/assets/svg/svg-icons.svg#svg-account"></use>
            </svg>
            <span class="header__icon__label">Account</span>
        </div>
        <div class="header__icon header__icon--store-locator" role="button">
            <svg class="header__svg-icon">
                <use
                    xlink:href="/assets/svg/svg-icons.svg#svg-store-locator"
                ></use>
            </svg>
            <span class="header__icon__label">Store</span>
        </div>
        <div class="header__icon header__icon--bag" role="button">
            <span class="header__icon--bag__count">{{ bagCount }}</span>
            <svg class="header__svg-icon">
                <use xlink:href="/assets/svg/svg-icons.svg#svg-bag"></use>
            </svg>
            <span class="header__icon__label">Bag</span>
        </div>
    </div>
</div>
