@font-face {
    font-family: P22;
    src: url('/assets/fonts/P22JohnstonUndergroundRegularA.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: P22;
    src: url('/assets/fonts/P22JohnstonUndergroundBoldA.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local('Roboto-Regular'),
        url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local('Roboto-Italic'),
        url('/assets/fonts/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local('Roboto-Bold'),
        url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local('Roboto-BoldItalic'),
        url('/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    background: #fff;
    font-size: 14px;
    margin: 0 auto;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -ms-overflow-style: scrollbar;
}

body,
html {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    line-height: 1.42857;
    margin: 0 auto;
    line-height: 1.43;
    letter-spacing: 0.8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: default !important;
}

:focus {
    outline: none;
}

h1 {
    font-size: 4.28571rem;
    line-height: 1.1;
    margin-bottom: 0.71429rem;
}

h1,
h2 {
    font-family: P22, Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}

h2 {
    font-size: 3.57143rem;
    line-height: 1.12;
    margin-bottom: 1.07143rem;
}

h3 {
    font-size: 2.14286rem;
    line-height: 1.2;
    margin-bottom: 1.07143rem;
}

h3,
h4 {
    font-family: P22, Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 0;
}

h4 {
    font-size: 1.14286rem;
    line-height: 1.5;
}

h4,
h5 {
    margin-bottom: 0.71429rem;
}

h5 {
    font-family: P22, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.42857;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 0;
}

h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold {
    font-weight: 700;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus {
    outline: 1px dashed #777;
    outline-offset: 2px;
}

a {
    text-decoration: underline;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

a:active,
a:focus,
a:hover,
a:visited {
    color: #333;
}

a:focus {
    outline: 1px dashed #777;
    outline-offset: 2px;
    text-decoration: none;
}

button,
html,
input,
select,
textarea {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px;
}

button:focus,
html:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 1px dashed #777;
    outline-offset: 2px;
}

.button {
    font-size: 1rem;
    font-family: P22, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    height: 40px;
    border: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 0 25px;
}

.button:focus {
    outline: 1px dashed #777;
    outline-offset: 2px;
}

.button__primary {
    background-color: #000;
    color: #fff;
}

.button__primary--active,
.button__primary:hover {
    background-color: #333;
}

.button__primary--disabled,
.button__primary:disabled {
    opacity: 0.4;
}

.button__secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.button__secondary--active,
.button__secondary:hover {
    border-color: #333;
    color: #333;
}

.button__secondary--no-border {
    border: 0;
}

.button__secondary:disabled {
    background-color: #ccc;
    color: #7f7f7f;
    border: 0;
}

.checkbox__label {
    display: inline-block;
    height: 20px;
    padding-left: 30px;
    position: relative;

    input {
        cursor: pointer;
        height: 20px;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 20px;

        &:checked ~ .checkbox {
            &:after {
                left: 6px;
                top: 2px;
                width: 6px;
                height: 12px;
                transform: rotate(45deg) scale(1);
                opacity: 1;
                border: solid #333;
                border-width: 0 2px 2px 0;
                background-color: transparent;
            }
        }
    }

    .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid #7f7f7f;

        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            height: 0;
            width: 0;
            opacity: 1;
        }
    }
}

[role='button'] {
    cursor: pointer;
}
